# AndroidPE/Termux local dirs
.androidide/
.androidpe/

# Gradle/build
.gradle/
.kotlin/
build/
bin/
gen/
out/

# Native build
.externalNativeBuild/
.cxx/

# Local config and secrets
local.properties
gradle.properties

# Generated outputs
*.aab
*.apk
output-metadata.json

# IDE
*.iml
.idea/

# Logs/profiling
*.log
*.hprof

# Signing keys
*.jks
*.keystore

# Google services
google-services.json
